.signinWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.signinPage {
  border-radius: 5%;
  width: 33%;
  height: 80%;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1005;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
}

.signinHeader {
  flex: 4;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 3.1vw;
}

.signinButtons {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signinFooter {
  flex: 1.2;
  font-size: 1vw;
  font-weight: normal;
  width: 80%;
  text-align: center;
  margin-left: 3.1vw;
  margin-top: 3vw;
}

.signinLogo {
  width: 70px;
  height: 75px;
  margin-bottom: 20px;
}

.signinPage h2 {
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 2vw;
}

.buttonGoogle,
.buttonEmail {
  background-color: #fff;
  width: 80%;
  border-radius: 2vw;
  height: 3vw;
  cursor: pointer;
  border: 0.2vw solid black;
  margin: 0.8vw;
  font-size: 1.1vw;
  font-family: quicksand;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 1vw;
}




.buttonLogo {
  width: 1.8vw;
  height: 1.8vw;
  margin-right: 5vw;
}

.buttonClose {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
