/* CardComponent.css */

.card-container {
    height: 100vh;
    display: flex;
   justify-content: flex-start;
    align-items: center;
    padding: 0vw 5vw;
    margin: 0vw 10vw;
    margin-left: 0;
  }
  
  .card {
    position: relative;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px black;;   
    max-width: 400px;
    width: 100%;
    text-align: center;
    padding: 1vw 2vw;
    left: 5%;
    
    
  }
  
  .card > h2 {
    font-size: 2.5rem;
    margin: 0;
    color: #333;
    font-weight: 800;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
  }
 .sub_card_heading{
  text-align: left;
  font-weight: 50;
  font-family: 'Quicksand', sans-serif;
  padding-bottom: 0.1vw;
 }
.background-image{
  position: absolute;
  left: 18%;
  height: 770px;
  z-index: -999999;
 border-radius: 2%;
 margin: 0;
 padding: 0;
 filter: brightness(70%);
 }

  
  .form-group {
    margin: 15px 0;
  }
  
  .form-group > label {
    font-size: 1rem;
    display: block;
    text-align: left;
    font-weight: bolder;
    margin-bottom: 3px;
    margin-left: 4px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .form-group > select,
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
    color: #333;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
  }
  
  .form > button {
    background-color: #1fc98b;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-weight: 500;
    padding: 8px 18px;
    cursor: pointer;
    font-size: 1.3rem;
  }
  
  .form > button:hover {
    background-color:#1aa978 ;
  }
  
  .autocomplete-dropdown-container {
    position: absolute;
    width: 21vw;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    font-family: 'Quicksand', sans-serif;
    font-family: 200;
    font-size: 0.8rem;
    text-align: left;
  }
  
  .autocomplete-dropdown-container div {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .autocomplete-dropdown-container div:hover {
    background-color: #ccc;
  }
  
  .form-group > input{
    width: 95%;
  }