.travelPlanPage{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}


.subNavbar{
  display: flex;
  align-items: center;
 justify-content: center;
 width: 48%;
  margin-top: 2vw;
  border-radius: 5vw;
  height: 5.5vw;
  border: 0.2vw solid #ccc;
  
}

.subNavbar-group{
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 3.5vw;
  position: relative;
}



.subNavbar >button{
  background-color: #1fc98b;
  color: white;
  border: 1px solid #ccc;
  border-radius: 10vw;
  padding: 0.7vw 0.8vw;
  cursor: pointer;
  margin-left: 2vw;
}

.subNavbar > button:hover {
  background-color:#1aa978 ;
}

.card-container {
    height: 100vh;
    display: flex;
    width: 100%;
   justify-content: center;
    align-items: center;
  }
  
  .card {
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px black;   
    max-width: 400px;
    width: 100%;
    text-align: center;
    padding: 1vw 2vw;
  }
  
  .card > h2 {
    font-size: 2.5rem;
    margin: 0;
    color: #333;
    font-weight: 800;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
  }
 .sub_card_heading{
  text-align: left;
  font-weight: 50;
  font-family: 'Quicksand', sans-serif;
  padding-bottom: 0.1vw;
 }

  
  .form-group {
    margin: 15px 0;
  }
  
  .form-group > label {
    font-size: 1rem;
    display: block;
    text-align: left;
    font-weight: bolder;
    margin-bottom: 3px;
    margin-left: 4px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .form-group > select,
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
    color: #333;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
  }
  
  .form > button {
    background-color: #1fc98b;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-weight: 500;
    padding: 8px 18px;
    cursor: pointer;
    font-size: 1.3rem;
  }
  
  .form > button:hover {
    background-color:#1aa978 ;
  }
  
  
  
  .form-group > input{
    width: 95%;
  }