/* Footer CSS */

.footer {
    background-color: #F6F4EB;
    color: black;
    padding: 20px ;
    margin-top: 3vw;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700
    

  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  
  .footer-links ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    font-size: 15px;
  }
  
  .footer-links li {
    margin: 5px 0;
  }
  
  .footer-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-social a {
    color: black;
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
  }

  .footer-para{
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700
}
  .social{
    padding-bottom: 15px;
  }
  
  /* Add more styles and media queries for responsiveness as needed */
  