/* Footer CSS */

.footer {
    background-color: #F6F4EB;
    color: black;
    padding: 1.5vw ;
    margin-top: 3vw;
    font-size: 1.5vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700
    

  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5vw;
  }
  
  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  
  .footer-links ul {
    list-style: none;
    padding: 0.7vw;
    margin: 0;
    font-size: 1vw;
  }
  
  .footer-links li {
    margin: 0.4vw 0;
  }
  
  .footer-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  
  .footer-social a {
    color: black;
    font-size: 1.5vw;
    margin-right: 1vw;
    text-decoration: none;
  }

  .footer-para{
    font-size: 1.1vw;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700
}
  .social{
    padding-bottom: 1vw;
  }
  