.navbarWrapper{
    background-color: white;
    color: black;
    width: 100%;
    height: 2.3vw;
    position: sticky;
    top: 0;
    padding-top: 1.2vw;
    padding-bottom: 1vw;
    display: flex;
    align-items: center;
    z-index: 999;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.body-no-scroll {
    overflow: hidden;
  }

.left , .right{
    
    flex: 7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerList{
    display: flex;
    justify-content: center;
    margin: 0;padding: 0;
    list-style: none;
}



.center{

    flex: 6;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.signin{
    font-size: 1vw;
    width: 5.4vw;
    height: 2.7vw;
    cursor: pointer;
    border-radius: 2.8vw;
    background-color: black;
    color: white;
    font-weight: 700;
}

.listItem{
    margin-right: 1.5vw;
    font-size: 1.3vw;
    cursor: pointer;
}

.active{
    color: #34e0a1;
}

.boldlogo{
    font-size: 2.6vw;
    color: #34e0a1;
    font-weight: 900;
}

.logosimple{
    font-size: 2.6vw;
    color: #1fc98b; 
    
    font-weight: 900;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoimg{
    width: 3.5vw;
    height: 4vw;
    margin-right: 0.5vw;
}